{% extends 'base.html.twig' %}

{% block title %}Create a new Record | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <div>
        <ul>
            {% for track in tracks %}
                <li> {{ track.artist }} - {{ track.song }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}